/********** ORDERS PAGE **********/

/*Header Buttons*/
.order-headers {
    display: grid;
    grid-template-areas:
    "o-head-title"
    "o-head-btns";
    grid-template-columns: 60% 40%;
    align-content: center;
    padding: 85px 120px 85px 120px;
    justify-content: center;

}

.o-head-title{
    grid-area: o-head-title;
    justify-content: center;
}

.o-header-btns {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    align-content: center;
}

.o-header-btns button {
    border-style: none;
    background: none;
}

/*Order boxes*/
.order-box-container{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-column-gap: 125px;
    grid-row-gap: 60px;
    background-color: #fff;
    padding: 0 50px 50px 50px;
}

.order-box-container p {
    font-size: 14px;
    color: darkgray;
}

.order-box-container h4 {
    font-size: 18px;
}

.order-box{
    display: grid;
    grid-template-areas:
	"o-box-header"
	"service-name"
	"company-name"
    "order-status";
    grid-template-columns: 550px;
    grid-template-rows: 60px 60px 60px 80px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.o-box-header{
    grid-area: o-box-header;
    display: grid;
    grid-template-columns: 70% 30%;
    border-radius: 6.5px 6.5px 0 0;
    background-color: #9D0000;
    font-size: 24px;
    align-content: center;
}

.o-item-id{
    text-align: left;
    padding-left: 20px;
    color: white;
}

.o-id-number{
    font-size: 14px;
    color: lightgray;
}

.o-status-level{
    display: block;
    height: 28px;
    width: 100px;
    line-height: 28px;
    -moz-border-radius: 30px; /* or 50% */
    border-radius: 30px; /* or 50% */
    background-color: orange;
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;

}

.o-service-name{
    grid-area: service-name;
    display: grid;
    align-content: center;
    text-align: center;
}

.o-company{
    grid-area: company-name;
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    justify-content: space-evenly;
    text-align: center;
}

.o-company img{
    background-color: black;
    width: 40px;
    height: 40px;
}

.o-status{
    grid-area: order-status;
    display: grid;
    grid-template-columns: 40% 60%;
    align-content: center;
    text-align: center;
}

.o-required {
    display: grid;
    align-content: center;
}

.o-status-display{
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 10px;
}

.o-status-boxes{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
    justify-content: center;
}

.o-status-boxes div {
    border-radius: 30px;
    border: 2px solid black;
    height: 10px;
    width: 65px;
}
